.project-button {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

@media (max-width: 640px) {
	.events-span {
		display: none;
	}

	.project-button {
        display: flex;
        flex-direction: column;
		gap: 0.5rem;
	}
}

.project-button span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
