.project-button {
	display: grid;
	grid-template-columns: 20% 1fr 20%;
	gap: 1rem;
}

@media (max-width: 640px) {
	.events-span {
		display: none;
	}

	.project-button {
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 0.5rem;
	}
}

.project-button span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
