.project-button {
    display: flex;
	gap: 1rem;
}

@media (max-width: 640px) {
	.project-button {
        flex-direction: column;
		gap: 0.5rem;
        min-height: 8rem;
	}
}

.project-button span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
