.project-button {
	display: grid;
	grid-template-columns: 20% 1fr 1fr 30%;
	min-height: 3rem;
}

@media (max-width: 640px) {
	.project-button {
		grid-template-columns: 40% 1fr 30%;
	}

	.events-span {
		display: none;
	}
}

.project-button span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
