.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;
    gap: 0.75rem;

    grid-template-areas:
        "a b b e"
        "a c c e"
        "d d d f"
        "g g g f"
}

@media (max-width: 768px) {
    .bento-grid {
        grid-template-areas: 
        "a b c e"
        "a b c e"
        "d d d d"
        "g g g g"
        "f f f f"
    }
}

.bento-grid div {
    display: grid;
    place-items: center;
}
