@keyframes tabSelection {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: var(--blue-1);
    }
}

.tab-selection {
    animation: 0.5s tabSelection ease-in-out forwards;
}
