@import "tailwindcss";

/* global variables */
:root {
	--background-1: hsl(0, 0%, 4%);
	--background-2: hsl(0, 0%, 6%);
	--background-3: hsl(0, 0%, 8%);
	--background-4: hsl(0, 0%, 10%);
	--background-5: hsl(0, 0%, 12%);

	--foreground-1: hsl(0, 0%, 95%);
	--foreground-2: hsl(0, 0%, 85%);
	--foreground-3: hsl(0, 0%, 75%);
	--foreground-4: hsl(0, 0%, 65%);
	--foreground-5: hsl(0, 0%, 55%);
}

/* tailwind-specific variables */
@theme {
	--color-background-1: var(--background-1);
	--color-background-2: var(--background-2);
	--color-background-3: var(--background-3);
	--color-background-4: var(--background-4);
	--color-background-5: var(--background-5);

	--color-foreground-1: var(--foreground-1);
	--color-foreground-2: var(--foreground-2);
	--color-foreground-3: var(--foreground-3);
	--color-foreground-4: var(--foreground-4);
	--color-foreground-5: var(--foreground-5);
}

/* all elements */
* {
	box-sizing: border-box;
}

/* element-specific */
html {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-1);
	color: var(--foreground-1);
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
