@import "tailwindcss";

/* global variables */
:root {
	--background-1: hsl(0, 0%, 4%);
	--background-2: hsl(0, 0%, 6%);
	--background-3: hsl(0, 0%, 8%);
	--background-4: hsl(0, 0%, 10%);
	--background-5: hsl(0, 0%, 12%);

	--background-a-1: hsla(0, 0%, 4%, 0.3);
	--background-a-2: hsla(0, 0%, 6%, 0.3);
	--background-a-3: hsla(0, 0%, 8%, 0.3);
	--background-a-4: hsla(0, 0%, 10%, 0.3);
	--background-a-5: hsla(0, 0%, 12%, 0.3);

	--foreground-1: hsl(0, 0%, 95%);
	--foreground-2: hsl(0, 0%, 85%);
	--foreground-3: hsl(0, 0%, 75%);
	--foreground-4: hsl(0, 0%, 65%);
	--foreground-5: hsl(0, 0%, 55%);

    --blue-1: rgb(56, 66, 255);
    --red-1: rgb(255, 56, 56);

	--font-1: 4rem;
	--font-2: 2rem;
	--font-3: 1rem;
	--font-4: 0.8rem;
}

/* tailwind-specific variables */
@theme {
	--color-background-1: var(--background-1);
	--color-background-2: var(--background-2);
	--color-background-3: var(--background-3);
	--color-background-4: var(--background-4);
	--color-background-5: var(--background-5);

	--color-background-a-1: var(--background-a-1);
	--color-background-a-2: var(--background-a-2);
	--color-background-a-3: var(--background-a-3);
	--color-background-a-4: var(--background-a-4);
	--color-background-a-5: var(--background-a-5);
    
	--color-blue-1: var(--blue-1);
	--color-red-1: var(--red-1);

	--color-foreground-1: var(--foreground-1);
	--color-foreground-2: var(--foreground-2);
	--color-foreground-3: var(--foreground-3);
	--color-foreground-4: var(--foreground-4);
	--color-foreground-5: var(--foreground-5);
}

/* aceternity-specific */
@theme inline {
	--animate-meteor-effect: meteor 5s linear infinite;

	@keyframes meteor {
		0% {
			transform: rotate(215deg) translateX(0);
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			transform: rotate(215deg) translateX(-500px);
			opacity: 0;
		}
	}
}

/* all elements */
* {
	box-sizing: border-box;
	font-family: Inter, Arial, sans-serif;
}

/* element-specific */
html {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-1);
	color: var(--foreground-1);
	margin: 0;
	padding: 0;
	background-image: radial-gradient(
		circle,
		var(--background-5) 1px,
		transparent 1px
	);
	background-size: 1rem 1rem;
	background-repeat: repeat;
}

b,
i,
u,
mark {
	all: unset;
	pointer-events: none;
}

b {
	filter: brightness(1.5);
}

i {
	font-style: italic;
}

u {
	text-decoration: underline wavy;
	text-decoration-color: var(--red-1);
	text-decoration-thickness: 1px;
}

mark {
	text-decoration: underline;
	text-decoration-color: var(--blue-1);
	text-decoration-thickness: 2px;
	text-decoration-skip-ink: none;
}

small {
	opacity: 0.3;
	font-size: inherit;
}

hr {
	border-color: var(--background-5);
}

h1 {
	font-size: var(--font-1);
	color: var(--foreground-1);
}

h2 {
	font-size: var(--font-2);
	color: var(--foreground-1);
}

h3 {
	font-size: var(--font-3);
	color: var(--foreground-2);
}

h4,
span,
p, input {
	font-size: var(--font-4);
	color: var(--foreground-2);
}

button {
	font-size: var(--font-4);
	color: var(--foreground-1);
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* global classes */
.image {
	height: 1rem;
	width: 1rem;
	filter: invert(0.4);
	transition: 0.3s;
}