@import "tailwindcss";

/* global variables */
:root {
    /* color variables */
    --h: 250;
    --s: 8%;
    --a: 0.3;
    --l-0: 0%;
    --l-1: 3%;
    --l-2: 6%;
    --l-3: 9%;
    --l-4: 14%;
    --l-5: 24%;
    --l-6: 36%;
    --l-7: 48%;
    --l-8: 62%;
    --l-9: 80%;
    --l-10: 95%;

    /* opaque */
    --bg-0: hsl(var(--h), var(--s), var(--l-0));
    --bg-1: hsl(var(--h), var(--s), var(--l-1));
    --bg-2: hsl(var(--h), var(--s), var(--l-2));
    --bg-3: hsl(var(--h), var(--s), var(--l-3));
    --bg-4: hsl(var(--h), var(--s), var(--l-4));
    --bg-5: hsl(var(--h), var(--s), var(--l-5));
    --bg-6: hsl(var(--h), var(--s), var(--l-6));
    --bg-7: hsl(var(--h), var(--s), var(--l-7));
    --bg-8: hsl(var(--h), var(--s), var(--l-8));
    --bg-9: hsl(var(--h), var(--s), var(--l-9));
    --bg-10: hsl(var(--h), var(--s), var(--l-10));

    /* transparent */
    --bg-a-0: hsla(var(--h), var(--s), var(--l-0), var(--a));
    --bg-a-1: hsla(var(--h), var(--s), var(--l-1), var(--a));
    --bg-a-2: hsla(var(--h), var(--s), var(--l-2), var(--a));
    --bg-a-3: hsla(var(--h), var(--s), var(--l-3), var(--a));
    --bg-a-4: hsla(var(--h), var(--s), var(--l-4), var(--a));
    --bg-a-5: hsla(var(--h), var(--s), var(--l-5), var(--a));
    --bg-a-6: hsla(var(--h), var(--s), var(--l-6), var(--a));
    --bg-a-7: hsla(var(--h), var(--s), var(--l-7), var(--a));
    --bg-a-8: hsla(var(--h), var(--s), var(--l-8), var(--a));
    --bg-a-9: hsla(var(--h), var(--s), var(--l-9), var(--a));
    --bg-a-10: hsla(var(--h), var(--s), var(--l-10), var(--a));

    /* accents */
    --blue-1: hsl(237, 100%, 61%);
    --blue-2: hsl(237, 75%, 61%);
    --blue-3: hsl(237, 50%, 61%);
    --blue-4: hsl(237, 35%, 61%);
    --red-1: hsl(0, 100%, 61%);
    --red-2: hsl(0, 75%, 61%);
    --red-3: hsl(0, 50%, 61%);
    --red-4: hsl(0, 35%, 61%);
    --orange-1: hsl(30, 100%, 61%);
    --orange-2: hsl(30, 75%, 61%);
    --orange-3: hsl(30, 50%, 61%);
    --orange-4: hsl(30, 35%, 61%);
    --green-1: hsl(160, 60%, 61%);
    --green-2: hsl(160, 45%, 61%);
    --green-3: hsl(160, 30%, 61%);
    --green-4: hsl(160, 20%, 61%);

    /* transparent accents */
    --red-a-1: hsla(0, 100%, 61%, 0.3);
    --red-a-2: hsla(0, 75%, 61%, 0.3);
    --red-a-3: hsla(0, 50%, 61%, 0.3);
    --red-a-4: hsla(0, 35%, 61%, 0.3);

    /* fonts */
    --font-1: 3rem;
    --font-2: 2.5rem;
    --font-3: 2rem;
    --font-4: 1.5rem;
    --font-5: 1rem;
    --font-6: 0.8rem;
    --font-7: 0.75rem;
    --font-8: 0.7rem;
    --font-9: 0.6rem;
    --font-10: 0.5rem;

    --brightness-b: 1.3;
    --dotted: var(--background-2);
    --loading: var(--background-4);

    --invert-1: 0.1;
    --invert-2: 0.2;
    --invert-3: 0.3;
    --invert-4: 0.4;
    --invert-5: 0.5;
    --invert-6: 0.6;
    --invert-7: 0.7;
    --invert-8: 0.8;
    --invert-9: 0.9;
    --invert-10: 1;
}

/* light theme */
:root[data-theme="light"] {
    /* color variables */
    --h: 250;
    --s: 12%;
    --a: 0.3;
    --l-0: 99%;
    --l-1: 95%;
    --l-2: 90%;
    --l-3: 85%;
    --l-4: 75%;
    --l-5: 60%;
    --l-6: 45%;
    --l-7: 30%;
    --l-8: 25%;
    --l-9: 10%;
    --l-10: 4%;

    /* opaque */
    --bg-0: hsl(var(--h), var(--s), var(--l-0));
    --bg-1: hsl(var(--h), var(--s), var(--l-1));
    --bg-2: hsl(var(--h), var(--s), var(--l-2));
    --bg-3: hsl(var(--h), var(--s), var(--l-3));
    --bg-4: hsl(var(--h), var(--s), var(--l-4));
    --bg-5: hsl(var(--h), var(--s), var(--l-5));
    --bg-6: hsl(var(--h), var(--s), var(--l-6));
    --bg-7: hsl(var(--h), var(--s), var(--l-7));
    --bg-8: hsl(var(--h), var(--s), var(--l-8));
    --bg-9: hsl(var(--h), var(--s), var(--l-9));
    --bg-10: hsl(var(--h), var(--s), var(--l-10));

    /* transparent */
    --bg-a-0: hsla(var(--h), var(--s), var(--l-0), var(--a));
    --bg-a-1: hsla(var(--h), var(--s), var(--l-1), var(--a));
    --bg-a-2: hsla(var(--h), var(--s), var(--l-2), var(--a));
    --bg-a-3: hsla(var(--h), var(--s), var(--l-3), var(--a));
    --bg-a-4: hsla(var(--h), var(--s), var(--l-4), var(--a));
    --bg-a-5: hsla(var(--h), var(--s), var(--l-5), var(--a));
    --bg-a-6: hsla(var(--h), var(--s), var(--l-6), var(--a));
    --bg-a-7: hsla(var(--h), var(--s), var(--l-7), var(--a));
    --bg-a-8: hsla(var(--h), var(--s), var(--l-8), var(--a));
    --bg-a-9: hsla(var(--h), var(--s), var(--l-9), var(--a));
    --bg-a-10: hsla(var(--h), var(--s), var(--l-10), var(--a));

    --brightness-b: 0.3;
    --dotted: var(--background-10);
    --loading: var(--background-7);

    --invert-1: 0.9;
    --invert-2: 0.8;
    --invert-3: 0.7;
    --invert-4: 0.6;
    --invert-5: 0.5;
    --invert-6: 0.4;
    --invert-7: 0.3;
    --invert-8: 0.2;
    --invert-9: 0.1;
    --invert-10: 0;
}

/* tailwind-specific variables */
@theme {
    --color-bg-0: var(--bg-0);
    --color-bg-1: var(--bg-1);
    --color-bg-2: var(--bg-2);
    --color-bg-3: var(--bg-3);
    --color-bg-4: var(--bg-4);
    --color-bg-5: var(--bg-5);
    --color-bg-6: var(--bg-6);
    --color-bg-7: var(--bg-7);
    --color-bg-8: var(--bg-8);
    --color-bg-9: var(--bg-9);
    --color-bg-10: var(--bg-10);

    --color-bg-a-0: var(--bg-a-0);
    --color-bg-a-1: var(--bg-a-1);
    --color-bg-a-2: var(--bg-a-2);
    --color-bg-a-3: var(--bg-a-3);
    --color-bg-a-4: var(--bg-a-4);
    --color-bg-a-5: var(--bg-a-5);
    --color-bg-a-6: var(--bg-a-6);
    --color-bg-a-7: var(--bg-a-7);
    --color-bg-a-8: var(--bg-a-8);
    --color-bg-a-9: var(--bg-a-9);
    --color-bg-a-10: var(--bg-1a-0);

    --color-blue-1: var(--blue-1);
    --color-blue-2: var(--blue-2);
    --color-blue-3: var(--blue-3);
    --color-blue-4: var(--blue-4);
    --color-red-1: var(--red-1);
    --color-red-2: var(--red-2);
    --color-red-3: var(--red-3);
    --color-red-4: var(--red-4);
    --color-orange-1: var(--orange-1);
    --color-orange-2: var(--orange-2);
    --color-orange-3: var(--orange-3);
    --color-orange-4: var(--orange-4);
    --color-green-1: var(--green-1);
    --color-green-2: var(--green-2);
    --color-green-3: var(--green-3);
    --color-green-4: var(--green-4);

    --color-red-a-1: var(--red-a-1);
    --color-red-a-2: var(--red-a-2);
    --color-red-a-3: var(--red-a-3);
    --color-red-a-4: var(--red-a-4);

    --color-foreground-0: var(--foreground-0);
    --color-foreground-1: var(--foreground-1);
    --color-foreground-2: var(--foreground-2);
    --color-foreground-3: var(--foreground-3);
    --color-foreground-4: var(--foreground-4);
    --color-foreground-5: var(--foreground-5);
    --color-foreground-6: var(--foreground-6);
    --color-background-7: var(--background-7);
    --color-foreground-8: var(--foreground-8);
    --color-foreground-9: var(--foreground-9);

    --text-1: var(--font-1);
    --text-2: var(--font-2);
    --text-3: var(--font-3);
    --text-4: var(--font-4);
    --text-5: var(--font-5);
    --text-6: var(--font-6);
    --text-7: var(--font-7);
    --text-8: var(--font-8);
    --text-9: var(--font-9);
    --text-10: var(--font-10);
}

/* aceternity-specific */
@theme inline {
    --animate-meteor-effect: meteor 5s linear infinite;

    @keyframes meteor {
        0% {
            transform: rotate(215deg) translateX(0);
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: rotate(215deg) translateX(-500px);
            opacity: 0;
        }
    }
}

/* all elements */
* {
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    font-weight: 450;
}

/* element-specific */
html {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

body {
    scrollbar-width: thin;
    background: var(--bg-0);
    color: var(--bg-9);
    margin: 0;
    padding: 0;
}

b,
i,
u,
mark,
em {
    all: unset;
    pointer-events: none;
}

b {
    filter: brightness(var(--brightness-b));
}

i {
    font-style: italic;
}

u {
    text-decoration: underline wavy;
    text-decoration-color: var(--red-1);
    text-decoration-thickness: 1px;
}

mark {
    text-decoration: underline;
    text-decoration-color: var(--blue-1);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

em {
    color: rgb(216, 216, 216);
    display: inline-block;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5))
        drop-shadow(0 0 4px rgba(0, 0, 0, 0.3))
        drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}

em img {
    filter: invert(0.8);
}

small {
    opacity: 0.5;
    font-size: inherit;
}

hr {
    border: 1px solid var(--bg-3);
    width: 100%;
    border-radius: 1000rem;
}

h1 {
    font-size: var(--font-1);
    color: var(--bg-10);
}

h2 {
    font-size: var(--font-2);
    color: var(--bg-10);
}

h3 {
    font-size: var(--font-3);
    color: var(--bg-9);
}

h4,
span,
p,
input,
textarea,
button,
a,
label {
    font-size: var(--font-6);
    color: var(--bg-9);
}

dialog {
    margin: 0;
    padding: 0.25rem;
    border: 0;
    outline: 0;
    background: transparent;
    overflow: visible;
}

input[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

p {
    color: var(--bg-8);
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    filter: invert(var(--invert-8)) grayscale(1);
    transition: 0.1s;
    -webkit-user-drag: none;
}

/* utility classes */
.dotted {
    background-image: radial-gradient(circle, var(--bg-3) 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-repeat: repeat;
}

.invalid {
    text-decoration: underline wavy var(--red-1) 1px;
}

.valid {
    text-decoration: underline wavy var(--blue-1) 1px;
}

.text-ellipsis-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.5rem;
    padding: 2rem;
    background: var(--bg-1);
    border: 1px solid var(--bg-3);
    border-radius: 2rem;
}

@media (max-width: 640px) {
    .box {
        padding: 1rem;
    }
}

.acrylic {
    background: var(--bg-a-0);
    backdrop-filter: blur(12px);
}

.acrylic button,
.acrylic input,
.acrylic a {
    background: var(--bg-a-0);
    backdrop-filter: blur(12px);
}

.acrylic hr {
    border-color: var(--bg-2);
    backdrop-filter: blur(12px);
}

.button {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0.4rem;
    border-radius: 200rem;
    background: var(--bg-2);
    border: 1px solid var(--bg-3);
    transition: 0.3s all;
    outline: 2px solid transparent;
}

.button:hover {
    background: var(--bg-3);
}

.button:focus-visible {
    outline: 2px solid var(--blue-2);
}

.ripple {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    --ripple-color: var(--bg-5);
    --ripple-speed: 0.5s;
}

.ripple-container {
    --ripple-color: var(--background-3);
    --ripple-speed: 2s;
}

.ripple::after {
    content: "";
    position: absolute;
    top: var(--y, 50%);
    left: var(--x, 50%);
    z-index: -1;

    width: 100%;
    background: var(--ripple-color);
    border-radius: 1000px;
    aspect-ratio: 1/1;

    opacity: 0;

    pointer-events: none;
    user-select: none;
}

.ripple[data-ripple="on"]::after {
    animation: var(--ripple-speed) rippleEnable forwards ease-out;
}

.ripple[data-ripple="off"]::after {
    animation: var(--ripple-speed) rippleDisable forwards ease-in;
}

@keyframes rippleEnable {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 1;
    }
}

@keyframes rippleDisable {
    0% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

.link {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1000;
    cursor: pointer;
    transition: 0.3s all;
    border: 0;
    outline: 2px solid transparent;
}

.link:hover {
    color: var(--bg-4);
}

.link:active {
    background: var(--bg-4);
}

.link:focus-visible {
    outline: 2px solid var(--blue-2);
}

/* animations */
@keyframes borderAwaiting {
    0% {
        border: 2px solid var(--blue-1);
    }
}

.border-awaiting {
    border: 2px solid transparent;
    animation: 0.5s borderAwaiting alternate infinite;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.loading {
    position: relative;
    background: linear-gradient(
        90deg,
        var(--bg-1) 25%,
        var(--bg-3) 37%,
        var(--bg-1) 63%
    );

    background-size: 200% 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    animation: 4s loading ease-in-out infinite alternate;
}
