.msg-circle {
    width: 4px;
    height: 4px;
    background-color: transparent;
    border-radius: 1000px;
    transition: 0.5s all;
}

.no-circle {
    width: 4px;
    height: 4px;
    background-color: var(--red-1);
    opacity: 0.3;
    border-radius: 1000px;
    transition: 0.5s all;
}

.yes-circle {
    width: 4px;
    height: 4px;
    background-color: var(--blue-1);
    opacity: 0.3;
    border-radius: 1000px;
    transition: 0.5s all;
}

.msg-box:has(.yes-button:hover, .yes-button:focus)
    :is(.msg-circle, .yes-circle) {
    background: var(--blue-1);
    opacity: 1;
}

.msg-box:has(.no-button:hover, .no-button:focus) :is(.msg-circle, .no-circle) {
    background: var(--red-1);
    opacity: 1;
}
