.dashboard-event {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
}

@media (max-width: 768px) {
    .dashboard-event {
        grid-template-columns: 20% 1fr 30% auto;
        gap: 0.25rem;
    }
}

@media (max-width: 640px) {
    .dashboard-event {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.delete-event-button {
    display: none;
}

@media (max-width: 768px) {
    .delete-event-button {
        display: flex;
    }
}

.dashboard-event-element {
    overflow: hidden;
}

.dashboard-event-element * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 640px) {
    .dashboard-event-element {
        align-items: center;
    }
}