.dashboard-events {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
}

@media (max-width: 768px) {
    .dashboard-events {
        grid-template-columns: 20% 1fr 30% auto;
    }
}

.delete-event-button {
    display: none;
}

@media (max-width: 768px) {
    .delete-event-button {
        display: flex;
    }
}

.dashboard-event {
    overflow: hidden;
}

.dashboard-event * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}